

.App-header {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo-img{
  max-width: 50%;  
}

.container{
  position: relative;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.App{
  background-color: #640df1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toDoList {
  text-align: left;
  text-size-adjust: 100px;
  position: absolute;
  left: 50px;
  top: 60px;
}

.form {
  color: red;
  position: absolute;
  left: 550px;
  top: 85px;
}

.delete-btn {
  background-color: red;
  position: relative;
  left: 180px;
}

.checkbox{
  position: relative;
  left: 50px;
}

.toDoListHistory{
  position: absolute;
  right: 50px;
  top: 40px;
}

.about-parent {
  background: blue;
}

.about-child {
  display: inline-block;
}

.tab { 
  word-spacing: 7px;
  line-height: 30px;
  padding: 10px;
}

.img1{
  margin: 20px;
  width: 245px;
  height: 240px;
  background: transparent;
}

.content {
  vertical-align: top;
}

.active{
  color: red;
}

.custom-nav{
  margin-right: 30px;
}

.content-bg,ul {
  background: #8133ff;
  padding: 20px;
}

.content-data {
  background: #2f1d96;
  list-style-type: "â¼";
  width: 50rem;
}

.content-color {
  color: #b4cc5e;
}

.custom-pagination{
  display: flex;
  justify-content: center;
  color: white;
  padding: 30px;
  size: lg;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}